/* Reset defaults so the app takes full screen */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #242424; /* Fallback color */
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}